@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar {
  overflow-y: auto;
}

.main-content {
  overflow-y: hidden;
}

.toggle-btn {
  z-index: 50;
}

#chartContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
