[tool.black]
line-length = 100
target-version = ['py39']
include = '\.pyi?$'
# 2スペースインデント設定
indent = 2
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
)/
'''

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[tool.flake8]
max-line-length = 100
ignore = ["W293"]
extend-ignore = ["E203", "W503", "W291"]
exclude = [
    ".git",
    "__pycache__",
    "venv",
    "env",
    ".venv",
    "migrations",
    "build",
    "dist"
]
